.productPageFilter-bordered-row {
    border-top: 1px solid #000; 
    border-bottom: 1px solid #000;
    border-left: none;
    border-right: none;
    padding: 10px; 
    margin-top: 10px;
    margin-bottom: 36px;
    margin-left: 0;
    margin-right: 0;

    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap; /* 防止換行 */
}